<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smartfarm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".showIntruderImage"
            android:parentActivityName=".plantmonitor" >
        </activity>
        <activity
            android:name=".plantmonitor"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".detect_soil_humidity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".detectTemperature"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".checkweather"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>